.d-red { background-color: #AA0088; }

.d-grn { background-color: #00AA88; }

.d-blu { background-color: #0088AA; }

.d-ylw { background-color: #CCCC00; }

.d-gryA { background-color: #333333; }

.d-gryB { background-color: #AAAAAA; }

.column {
  /* Doesn't skew column alignment as borders do */
  box-shadow: inset 0px 0px 2px 0px #000;
  -moz-box-shadow: inset 0px 0px 2px 0px #000;
  -webkit-box-shadow: inset 0px 0px 2px 0px #000;
}
