/* Jeff's Responsive Grid
 *
 * Details
 * *******
 * 0. My first attempt at grids. Not intended for public use.
 * 1. Sm screens have 1 column per row
 * 2. Med screens have 4 columns per row
 * 3. Lg screens have 8 columns per row
 * 4. XL screens have 12 columns per row
 * 5. No margins or padding in grid, rows, or cols. Do it manually.
 * 6. Rows/cols can be nested, intermixed to achieve a custom layout.
 * 7. Columns stack leftwards. For right-justify, add filler columns.

/* Common Styles (Apply to all sizes)*/
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}

.column { height: 100%;}



/* S Screen Rules
*****************
 Range: 0px, 480px
 Grid Width: 1 */
@media ( min-width: 0px ){
  html { font-size: 100.0%; }
  .s-only, .m-only, .l-only, .x-only { display: none; }
  .s-only { display: inherit; }

  .grid {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
    margin-bottom: 2rem;
  }

  .column { display: inherit; }
  .column.s-1w { display: inherit; width: 100.00%; }
  .column.s-0w { display: none; width: 0; }
}



/* M Screen Rules
*****************
 Range: 481px, 767px
 Grid Width: 4 */
@media ( min-width: 481px ){
  html { font-size: 112.5%; }
  .s-only, .m-only, .l-only, .x-only { display: none; }
  .m-only { display: inherit; }

  .grid {
    margin: 1rem auto;
    width: 90%;
    max-width: 600px;
  }

  .column { float: left; display: inherit; }
  .column.m-4w { display: inherit; width: 100.00%; }
  .column.m-3w { display: inherit; width:  75.00%; }
  .column.m-2w { display: inherit; width:  50.00%; }
  .column.m-1w { display: inherit; width:  25.00%; }
  .column.m-0w { display: none; width: 0; }
}




/* L Screen Rules
*****************
 Range: 768px, 1019px
 Grid Width: 8 */
@media ( min-width: 768px ){
  html { font-size: 110.0%; }
  .s-only, .m-only, .l-only, .x-only { display: none; }
  .l-only { display: inherit; }

  .grid {
    margin: 2rem auto;
    width: 90%;
    max-width: 800px;
  }

  .column { float: left; display: inherit; }
  .column.l-8w { display: inherit; width: 100.00%; }
  .column.l-7w { display: inherit; width:  87.50%; }
  .column.l-6w { display: inherit; width:  75.00%; }
  .column.l-5w { display: inherit; width:  62.50%; }
  .column.l-4w { display: inherit; width:  50.00%; }
  .column.l-3w { display: inherit; width:  37.50%; }
  .column.l-2w { display: inherit; width:  25.00%; }
  .column.l-1w { display: inherit; width:  12.50%; }
  .column.l-0w { display: none; width: 0; }
}




/* X Screen Rules
*****************
 Range: 1020px, Inf
 Grid Width: 12 */
@media ( min-width: 1020px ){
  html { font-size: 125.0%; }
  .s-only, .m-only, .l-only, .x-only { display: none; }
  .x-only { display: inherit; }

  .grid {
    margin: 2rem auto;
    width: 80%;
    max-width: 1200px;
  }

  .column { float: left; display: inherit; }
  .column.x-12w { display: inherit; width:100.00%; }
  .column.x-11w { display: inherit; width: 91.66%; }
  .column.x-10w { display: inherit; width: 83.33%; }
  .column.x-9w { display: inherit; width:  75.00%; }
  .column.x-8w { display: inherit; width:  66.66%; }
  .column.x-7w { display: inherit; width:  58.33%; }
  .column.x-6w { display: inherit; width:  50.00%; }
  .column.x-5w { display: inherit; width:  41.66%; }
  .column.x-4w { display: inherit; width:  33.33%; }
  .column.x-3w { display: inherit; width:  25.00%; }
  .column.x-2w { display: inherit; width:  16.66%; }
  .column.x-1w { display: inherit; width:   8.33%; }
  .column.x-0w { display: none; width: 0; }
}




/* Final Fixes */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
