/* Fonts: Open Sans, Inconsolata */
@import 'https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans';

/* Corrections */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }
ul { padding: 0; margin: 0; }

/* Material Design Shadows */
.md-1dp { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
.md-2dp { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.md-3dp { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
.md-4dp { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.md-5dp { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }

/* Material Design Colors */
.bg-white { background: #FFFFFF; }
.bg-black { background: #000000; }

.bg-grey-50  { background: #FAFAFA; }
.bg-grey-100 { background: #F5F5F5; }
.bg-grey-200 { background: #EEEEEE; }
.bg-grey-300 { background: #E0E0E0; }
.bg-grey-400 { background: #BDBDBD; }
.bg-grey-500 { background: #9E9E9E; }
.bg-grey-600 { background: #757575; }
.bg-grey-700 { background: #616161; }
.bg-grey-800 { background: #424242; }
.bg-grey-900 { background: #212121; }

.bg-blue-50  { background: #E3F2FD; }
.bg-blue-100 { background: #BBDEFB; }
.bg-blue-200 { background: #90CAF9; }
.bg-blue-300 { background: #64B5F6; }
.bg-blue-400 { background: #42A5F5; }
.bg-blue-500 { background: #2196F3; }
.bg-blue-600 { background: #1E88E5; }
.bg-blue-700 { background: #1976D2; }
.bg-blue-800 { background: #1565C0; }
.bg-blue-900 { background: #0D47A1; }

.txt-white { color: #FFFFFF; }
.txt-black { color: #000000; }

.txt-grey-50  { color: #FAFAFA; }
.txt-grey-100 { color: #F5F5F5; }
.txt-grey-200 { color: #EEEEEE; }
.txt-grey-300 { color: #E0E0E0; }
.txt-grey-400 { color: #BDBDBD; }
.txt-grey-500 { color: #9E9E9E; }
.txt-grey-600 { color: #757575; }
.txt-grey-700 { color: #616161; }
.txt-grey-800 { color: #424242; }
.txt-grey-900 { color: #212121; }

/* Transparency Shade */
.bg-shade-0   { background: rgba(60, 60, 60, 0.00); }
.bg-shade-10  { background: rgba(60, 60, 60, 0.10); }
.bg-shade-20  { background: rgba(60, 60, 60, 0.20); }
.bg-shade-30  { background: rgba(60, 60, 60, 0.30); }
.bg-shade-40  { background: rgba(60, 60, 60, 0.40); }
.bg-shade-50  { background: rgba(60, 60, 60, 0.50); }
.bg-shade-60  { background: rgba(60, 60, 60, 0.60); }
.bg-shade-70  { background: rgba(60, 60, 60, 0.70); }
.bg-shade-80  { background: rgba(60, 60, 60, 0.80); }
.bg-shade-90  { background: rgba(60, 60, 60, 0.90); }
.bg-shade-100 { background: rgba(60, 60, 60, 1.00); }


/* Custom Styling */
body { font-family: 'Open Sans', sans-serif; }

#contact-card .contact-image {
  height: 300px;
  background: url("/img/self-300x300.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#contact-card .contact-image .row {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#contact-card .contact-image .caption {
  padding: 1rem;
}

#contact-card .contact-image .caption h2,
#contact-card .contact-image .caption h5 {
  text-align: left;
}

#contact-card .description {
  padding: 1rem;
}

#contact-card .description .column h2,
#contact-card .description .column p {
  text-align: left;
}

#contact-card .name-banner {
  padding: 1rem;
}

#contact-card .name-banner .title {
  font-weight: 700;
}

#contact-methods .row {
  padding: 1rem;
  text-align: left;
  position: relative;
}

#contact-methods .row:after {
  content: '';
  width: 90%;
  height: 1px;
  background: #E0E0E0;
  position: absolute;
  bottom: -1px;
  left: 5%;
}

#contact-methods .row * {
  display: inline-block;
}

#acknowledgements {
  padding: 1rem;
  margin-bottom: 0rem;
}

#acknowledgements p {
  margin: 0;
}
